.container{
    display: flex;
    justify-content: center;

    .singUp-card{
        margin-top: 15px;
        padding: 20px;
        width: 550px;
        border-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        .text-center{
            text-align: center;
        }
    
        .form-group{
            display: flex;
            flex-direction: column;

            .mat-form-field{
                margin-bottom: 0;
            }

            .mat-radio-button{
                margin-right: 10px;
            }

            .btn-center{
                margin-bottom: 10px;
                text-align: center;
                .btn{
                    width: 100px;
                }
            }

            .link-secondary{
                text-decoration: none;
                color: black;
                &:hover{
                    color: blue;
                }
            }
        }

        .invalid-feedback{
            margin-bottom: 10px;
            color: red;
        }
    }
}